@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand:wght@300&family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Serif:wght@500&family=Playfair+Display&family=Quicksand:wght@300&family=Sora&display=swap');

:root {
    --maincolor: #c4c9cd;
}

body{
    font-family: 'Noto Serif', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
    outline: none;
    text-transform: capitalize;
    text-decoration: none;
 
}

.genral-title {
    font-weight: 900;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.write {
    text-align: right;
    text-shadow: 10cm;
    text-decoration-color: rgb(8, 8, 8);
    text-size-adjust: 10;
    margin-left: 40%;
    margin-top: -17%;
    font-weight: 900;
}

.text {
    margin-top: -10%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

.logo {
    width: 71px;
    border: 46%;
    height: 37px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7%;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header #logo {
    font-size: 3.5rem;
    color: black;
}

.navbar a {
    color: black;
    font-size: 1.7rem;
    margin-left: 8rem;
}

.navbar a:hover {

    color: rgb(0, 0, 0);
    border: 1px black;
    padding: 1rem 3rem;

}

.icons div {
    font-size: 2rem;
    margin-left: 1rem;
    color: black;
    cursor: pointer;
}

.icons div:hover {
    color: rgb(12, 12, 12);
    border-radius: 10px;
    padding: 1rem 3rem;
}

#menu-bar {
    display: none;
}

.search-box.active {

    left: 70%;

}

.search-box {
    position: absolute;
    top: 100%;
    left: 100%;
    width: 30%;
    right: 2rem;
}

.search-box input {
    padding: 1.5rem 2rem;
    width: 100%;
    border-radius: 15px;
    border: 1px solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.shopping-cart.active {
    left: 65%;
}

.shopping-cart {
    position: absolute;
    top: 110%;
    width: 40rem;
    right: 2rem;
    left: 100%;
}

.shopping-box {
    position: relative;
    display: flex;
    align-items: center;
    padding: .3rem;
}

.shopping-box img {
    width: 200px;
}

.fa-times {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 2rem;
}

.shop-contant h3 {
    font-size: 1.7rem;
    padding: 3rem;
}

.shop-contant span {
    margin: .5rem;
    font-size: 1.7rem;
}

.navbar.active {
    left: 0;
}


.left-white {
    flex: 1 45rem;
    text-align: left;

}

.right-content h1 {
    font-size: 80px;
    letter-spacing: 4px;
}

.lift-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.right-content {
    flex: 1 1 30rem;
    font-size: 20px;
}

/* footer */
.footer {
    background: #111;
    margin-top: 50px;
}

div.container-footer {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    padding-bottom: 15px;
    /* padding-top: 70px; */
}

div.container-footer.w-container:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
}

div.container-footer.w-container:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
}

div.w-row {
    box-sizing: border-box;
    margin-left: -10px;
    margin-right: -10px;
}

div.w-row:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
}

div.w-row:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
}

div.footer-column.w-clearfix.w-col.w-col-4 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 33.3333%;
}

div.footer-column.w-clearfix.w-col.w-col-4:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
}

div.footer-column.w-clearfix.w-col.w-col-4:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
}

/* logo*/
img.logo-image {

    width: 80%;
    margin-top: 25%;
    margin-left: -70px;
}

h3.footer-failory-name {
    box-sizing: border-box;
    color: #FFFFFF;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.1em;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 24px;
}

p.footer-description-failory {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.5em;
    margin-bottom: 16px;
    margin-top: 15px;
}

br {
    box-sizing: border-box;
}

div.footer-column.w-col.w-col-8 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 66.6667%;
}

div.w-col.w-col-8 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 66.6667%;
}

div.w-col.w-col-7.w-col-small-6.w-col-tiny-7 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 58.3333%;
}

h3.footer-titles {

    color: #FFFFFF;
    font-family: Lato, sans-serif;
    font-weight: 900;
    line-height: 3.1em;
    margin-bottom: 2px;
    margin-left: 0;
    margin-top: 24px;
    border-bottom: 1px solid salmon;
    border-radius: 9px;
}

p.footer-links {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.8em;
    margin-bottom: 16px;
    margin-top: 2px;
}

a {
    background-color: transparent;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2em;
    text-decoration: none;
}

a:active {
    outline: 0;
}

a:hover {
    outline: 0;
}

span.footer-link {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
}

span.footer-link:hover {
    color: #FFFFFF;
    font-weight: 400;
}

span {
    box-sizing: border-box;
}

strong {
    box-sizing: border-box;
    font-weight: 700;
}

div.w-col.w-col-5.w-col-small-6.w-col-tiny-5 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 41.6667%;
}

div.column-center-mobile.w-col.w-col-4 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 33.3333%;
}

a.footer-social-network-icons.w-inline-block {
    background-color: transparent;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2em;
    margin-right: 8px;
    margin-top: 34px;
    max-width: 100%;
    opacity: .8;
    text-decoration: none;
}

a.footer-social-network-icons.w-inline-block:active {
    outline: 0;
}

a.footer-social-network-icons.w-inline-block:hover {
    opacity: 1;
    outline: 0;
}

img {
    border-width: 0;
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

p.footer-description {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.5em;
    margin-bottom: 16px;
    margin-top: 61px;
    margin-left: 111px;
}

strong.link-email-footer {
    box-sizing: border-box;
    font-weight: 700;
}

/* frist section  css */

.onetag {
    margin-bottom: 16px;
    text-align: center;
    font-size: 83px;
    padding-top: 50px;
    font-family: 'Noto Serif', serif;
    margin-left:-43% ;
    background-clip: text;
    animation: 2s anim-lineUp ease-out;
    
}

.pone {
    
    background-image: url("./image/g10.jpeg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    animation: shine 5s linear infinite;
    background-clip: text;
  
}

.first-text {
    font-size: 19px;
    margin-top: 19%;
    text-align: center;
    font-family: 'Noto Serif', serif;
    animation: reveal 3000ms ease-in-out forwards 200ms,
             glow 2500ms linear infinite 2000ms;
}
@keyframes reveal {
    80%{
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }

/* title section */
.info1{
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 42%;
    display: block;
    padding-bottom: 65px;
    padding-top: 35px;
    border-radius: 10px;
    font-family: 'Noto Serif', serif;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

span {
    display: inline-block;
}

span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

/* from css  second section*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
.container p{
    color:#111;
    font-weight:500;
}
.container h2{
    color:black ;
    font-weight: bold;
    font-size: 27px;
    padding-bottom: 6%;
    border-bottom: 2px solid black;
    font-family: 'Noto Serif', serif;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-family: 'Noto Serif', serif;
}
.container.contactinfo{
    width:50px ;
    display: flex;
    flex-direction: column;
}
.container.contactinfo.box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

/* iecons section */
.icon1{
    width: 107px;
    height: 43px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    margin-top: 63px;
    margin-right: -20px;
}
.icon2{
    width: 50px;
    height: 43px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    margin-top: 63px;
    margin-right: -20px;
}
.icon3{
    width: 50px;
    height: 43px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    margin-top: 63px;
    margin-right: -20px;
}
.icon1 i{
    color: #FFFFFF;
}
.icon2 i{
    color: #FFFFFF;
}
.icon3 i{
    color: #FFFFFF;
}
.text1{
    display: flex;
    margin-left: 20%;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}
.text2{
    display: flex;
    margin-left: 30%;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
    margin-top: -83px;
}
.text3{
    display: flex;
    margin-left: 30%;
    font-size: 16px;
    color: rgb(214, 199, 199);
    flex-direction: column;
    font-weight: 300;
    margin-top: -80px;
}
/* from */
.contactfrom{
    margin-left: 7%;
    width: 33%;
    padding:40px;
    background-image: url("image/74.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 18px rgb(0, 0, 0,0.2), 0 6px 20px 0 rgb(0, 0, 0,0.19);
    animation: zoom-in-zoom-out 1s ease ;
}
@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0.5, 0.5);
    }
    50% {
        transform: scale(0.5, 0.5);
    }
    100% {
        transform: scale(0 .5, 0.5);
    }
}
.inputbox{
    
    width:5%;
}
.inputbox input {
    padding: 10px 105px 10px 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    border-left: 2px solid black;
    margin-bottom: 10px;
    background-color: rgb(229, 242, 238);
    border-radius: 5px;
}
.form-title{
    text-align: center;
}
.inputbox11{
    width:5%;
    align-items: center;
    margin-left: 15%;
    margin-top: 3%;
}
.btn{
    padding: 10px 45px;
    border-radius: 8%;
    background-color: rgb(244, 246, 250);
    
}
.btn a{
    color: black;
   
}

@media (max-width:1024px){
    .pone {
        background-image: url(./image/g10.jpeg);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        animation: shine 5s linear infinite;
        background-clip: text;
        width: 103% !important;
    }

    .navbar a {
        color: black;
        font-size: 1.7rem;
        margin-left: 2rem;
    }

    .contactfrom {
        margin-left: 7%;
        width: 45% !important;
        padding: 40px;
        background-image: url(image/74.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 10px 18px rgb(0, 0, 0,0.2), 0 6px 20px 0 rgb(0, 0, 0,0.19);
        animation: zoom-in-zoom-out 1s ease;
    }

    .footer {
        background: #111;
        margin-top: 50px;
        width: 103%;
    }
}

@media (max-width:768px) {
    html {
        font-size: 50%;
    }

    #menu-bar {
        display: inline-block;
    }

    .header {
        padding: 2rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        width: 50rem;
        background: var(--maincolor);
        height: 100hv;
        left: 100%;
    }

    .navbar a {
        display: block;
        color: white;
        background: black;
        margin: 3rem;
        padding: 1.5rem;
        border-radius: 15px;
        width: 45rem;
    }

    .pone {
        background-image: url(./image/g10.jpeg);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        animation: shine 5s linear infinite;
        background-clip: text;
        width: 117% !important;
    }

    .contactfrom {
        margin-left: 7%;
        width: 55% !important;
        padding: 40px;
        background-image: url(image/74.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 10px 18px rgb(0, 0, 0,0.2), 0 6px 20px 0 rgb(0, 0, 0,0.19);
        animation: zoom-in-zoom-out 1s ease;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        font-family: 'Noto Serif', serif;
        margin-left: 42px;
        font-weight: 100;
    }
}